.filter
    =form_tag rental_properties_path(action: 'index'), method: "get"
    =hidden_field_tag :filter, true

    =label_tag :price, "Maximum price"
    =number_field_tag :price, @price

    =label_tag :industy, "Industry"
    =number_field_tag :industy, @industry

    =label_tag :miles, "Within"
    =number_field_tag :miles, @miles

    =label_tag :filter_location, "miles of"
    =text_field_tag :filter_location, @filter_location

    .submit
        =submit_tag "Filter"
        =link_to('Clear', rental_properties_path(:clear => true))

#main.container
    %h3.header Available locations

    %table.table
        %thead
            %tr
                %th.column= link_to('Property', rental_properties_path(:order => 'title'))
                %th.column Description
                %th.column= link_to('Distance from you', rental_properties_path(:order => 'distance'))
                %th.column= link_to('Asking Price', rental_properties_path(:order => 'price'))
                %th.images Images

        %tbody
            -@properties.each do |prop|
                %tr.property
                    %td.title= link_to "#{prop.title}", rental_property_path(prop)
                    %td.description= truncate(prop.description,length: 60)
                    %td.details= number_to_human(prop.distance_from(@location), units: {unit: "mi"}) || "Unknown"
                    %td.price= "#{number_to_currency(prop.price)} /per month"
                    %td
                        -if prop.images.size == 0
                            =image_tag('no_image.jpg', height: '100', width: '150')
                        - count = 1
                        - prop.images.each do |p|
                            - if count % 3 == 0
                                -break
                            =image_tag(p, height: '100', width: '150')
                            - count += 1
                       
    .row
        .col-md-offset-1
        - if user_signed_in?
            .col-md-2.button-navigate= link_to('Create a new listing', new_rental_property_path)
        - else 
            .col-md-2.button-navigate= link_to('Create a new listing', new_user_registration_path)

