!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %title Adzilly
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    .container-fluid
      .row
        - flash.each do |key, value|
          .alert{ :class => "alert-#{key}" }
          -# %button.close{ :data => { :dismiss => "alert" } } x
          %strong
            = value

      .row
        .col-md-4.logo
          =link_to image_tag("logo_plain.png", :width => 200, :height => 75), rental_properties_path
          -# =link_to "Adzilly", rental_properties_path
        .offset-md-6.col-md-2
          -if user_signed_in?
            %p
              .button-login
                .user-info
                  %spanp= "hello, #{current_user.username}"
                =link_to "logout", destroy_user_session_path, method: :delete, :class => "btn btn-primary btn-sm"
          -else
            %br
            .button-login
              =link_to "Sign In", new_user_session_path, :class => "btn btn-success btn-sm"
              =link_to "Sign Up", new_user_registration_path, :class => "btn btn-warning btn-sm"

    = yield



    -# #footer
    -#   %p= "Contact us:"
    -#   .footer-images
    -#     =link_to image_tag( "contact.png", height: '50', width: '50'), 'mailto:matt.winters@adzilly.com'
    -#     =link_to image_tag( "phone.png", height: '50', width: '50'), 'tel:+1-203-912-6191'
    -#     =link_to image_tag( "fb.png", height: '50', width: '50'), 'https://m.me/matt.winters.750'
    -#     =link_to image_tag( "instagram.png", height: '50', width: '50'), 'https://www.instagram.com/mattwinters32/'
    -#   .right






      -# %p.footer-info= "Matthew Winters: 203-912-6191"
      -# %p.footer-info= "Matthew Abt: 203-912-8000"
